<article id = "list">
    <div id = "listTitle">{{title}}</div>
    <hr>
    <div id = "listOfItems">
        <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div [ngClass] = "{ 'gainclass':isGain, 'lossclass':!(isGain) }" id = "itemPercentage">2.53%</div>
        </div>
        <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div id = "itemPercentage">2.53%</div>
        </div>
        <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div id = "itemPercentage">2.53%</div>
        </div>
        <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div id = "itemPercentage">2.53%</div>
        </div>
        <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div id = "itemPercentage">2.53%</div>
        </div>
    </div>
</article>