<article id = "list">
    <div id = "listTitle">{{title}}</div>
    <hr>
    <div id = "listOfItems">
        <ng-container *ngFor= "let percentage of top5list">
            <div id = "item">
                <div id = "itemStock">{{percentage.ticker}}</div>
                <div [ngClass] = "{ 'gainclass':isGain, 'lossclass':!(isGain) }" id = "itemPercentage">{{percentage.percent}}%</div>
            </div>
        </ng-container>

        <!-- <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div id = "itemPercentage">2.53%</div>
        </div>
        <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div id = "itemPercentage">2.53%</div>
        </div>
        <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div id = "itemPercentage">2.53%</div>
        </div>
        <div id = "item">
            <div id = "itemStock">Chuck's Bikes</div>
            <div id = "itemPercentage">2.53%</div>
        </div> -->
    </div>
</article>