#top5lists {
    display: grid;
    grid-template-rows: 85% 15%;
    height:100%;
}

#twoLists {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

#allStocksButtonWrapper {
    display: grid;
    grid-template-columns: 90% 10%; 
}

#allStocksButton{
    border-width: 0;
    background-color: #FFAC2F;
    font-family: "Futura";
    font-weight: bold;
    color: white;
    font-size: 8px;
    padding: 10px 12px;
    border-radius: 50px;
    letter-spacing: 1px; 
}

#allStocksButton:hover {
    background-color: #E39B2E; /* Green */
    color: white;
}

