#accounts {
    background-color: #f3b55f;
    background-image: linear-gradient(to top right, #E38334, #FFCE70);
    height: 100%;
    display: grid;
    grid-template-rows: 47% 1% 47% 5%;
}

#cash, #investment, #netWorth {
    margin-left: 10%;
    margin-right:10%
}

#netWorth {
    display: grid;
    grid-template-columns: 50% 50%;  
}

#netWorthLabel, #netWorthValue {
    font-family: "Futura";
    font-weight: bold;
    font-size: 14px;
    color: #9B4B00;
}

#netWorthValue {
    justify-self: right;
}

hr {
    width: 100%;
    margin-left:0;
    border: none;
    background-color:white;
    height: 2px;
}