<article id = "chart">
    <div id = "buttonsAndLegends">
        <div id = "buttons">
            <!--
            <button (click)="generateChartLastWeek()" id = "button">LAST WEEK</button>
            <button (click)="generateChartLastMonth()" id = "button">LAST MONTH</button>
            <button (click)="generateChartLastQuarter()" id = "button">LAST QUARTER</button>
            <button (click)="generateChartYearToDate()" id = "button">YEAR TO DATE</button>

            -->
        </div>
        <div id = "legends">
            <div id = "legendWrappers">
                <div id="circleNet"></div>
                <div id = "legendName">Net Worth</div>
            </div>
            <div id = "legendWrappers">
                <div id="circleCash"></div>
                <div id = "legendName">Cash</div>
            </div>
            <div id = "legendWrappers">
                <div id="circleInvestment"></div>
                <div id = "legendName">Investment</div>
            </div>
        </div>
    </div>
    <div id="chartReport" style="position: relative; height: 20vh; width: 80vw">
        <canvas id="myChart"></canvas>
    </div>
</article>