#chart {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}

#buttonsAndLegends {
    display: grid;
    grid-template-columns: 60% 40%;
}

#graph{
    padding-top: 1%;
}

#buttons{
    margin-top: 2%;
}

#button{
    border-width: 0;
    background-color: #F4982C;
    font-family: "Futura";
    font-weight: bold;
    color: white;
    font-size: 8px;
    padding: 12px 14px;
    border-radius: 50px;
    letter-spacing: 1px;
    margin-right: 2.5%;
}

#button:hover {
    background-color: #BA731F; /* Green */
    color: white;
}

#legends {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 8%
}

#legendWrappers {
    display: grid;
    grid-template-columns: 25% 75%;
}

#circleNet {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: #c8b3cb;
}

#circleCash {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: #a7385d;
}

#circleInvestment {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: #7aa3e5;
}

#legendName {
    font-family: "Futura";

}

.timeline .embedded-chart {
    opacity: 100;
}