<article id = "chart">
    <div id = "buttonsAndLegends">
        <div id = "buttons">
            <button id = "button" (click) = "changeScope(7)">LAST WEEK</button>
            <button id = "button" (click) = "changeScope(30)">LAST MONTH</button>
            <button id = "button" (click) = "changeScope(90)">LAST QUARTER</button>
            <button id = "button" (click) = "changeScope(165)">YEAR TO DATE</button>
        </div>
        <div id = "legends">
            <div id = "legendWrappers">
                <div id="circleNet"></div>
                <div id = "legendName">Net Worth</div>
            </div>
            <div id = "legendWrappers">
                <div id="circleCash"></div>
                <div id = "legendName">Cash</div>
            </div>
            <div id = "legendWrappers">
                <div id="circleInvestment"></div>
                <div id = "legendName">Investment</div>
            </div>
        </div>
    </div>
    <div *ngIf="dataForChart.length != 0 && refresh" id = "graph">
        <ngx-charts-line-chart
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [results]="dataForChart"
            >
        </ngx-charts-line-chart>
    </div>
</article>

