<article id = "wholePage">
    <div id = "headerWrapper">
        <div id = "header">
            <div id = "col1">
                <div id = "logo">CHUCK YOUR STOCKS</div>
                <div id = "stockPageTitle">STOCKS</div>
            </div>
            <nav id ="col2"><button id = "exitButton" routerLink='/home-page'>BACK</button></nav>
        </div>
    </div>
    <div id = "stockTable">
        <table id = "table">
                <tr>
                    <th id = "tableHeader">Ticker</th>
                    <th id = "tableHeader">Date</th>
                    <th id = "tableHeader">Purchase Price</th>
                    <th id = "tableHeader">Current Price</th>
                    <th id = "tableHeader">Amount</th>
                    <th id = "tableHeader">Gain/Loss</th>
                </tr>

            <ng-container *ngFor= "let stock of allStocks">
                <tr>
                    <td id = "tableValue">{{stock.ticker}}</td>
                    <td id = "tableValue">{{stock.date}}</td>
                    <td id = "tableValue">{{stock["Purchase Price"]}}</td>
                    <td id = "tableValue">{{stock["Current Price" ]}}</td>
                    <td id = "tableValue">{{stock["amount"]}}</td>
                    <td id = "tableValue">{{stock["Gain/Loss"]}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</article>
