#overview {
    /* background-color: pink; */
    height: 100%;
    display: grid;
    grid-template-rows: 23% 32% 45%;
}

#logo{
    font-family: "Futura";
    color: #D18334;
    margin-top: 3px;
    /* padding-bottom: 15px; */
}

#username{
    font-family: "Futura";
    font-weight: bold;
    font-size: 27px;
}

#valueSummary {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

#valueNames {
    font-family: "Futura";
    padding-bottom: 7px;
}

#valueNetWorth {
    font-family: "Futura";
    color: #c8b3ca;
    font-weight: bold;
    font-size: 45px;
}

#valueCash {
    font-family: "Futura";
    color: #a7385d;
    font-weight: bold;
    font-size: 25px;
}

#valueInvestment {
    font-family: "Futura";
    color: #7aa3e5;
    font-weight: bold;
    font-size: 25px;
}