<article id = "section">
    <div id = "accountTitle">{{accountType}}</div>
    <div id = "accountBalance">$2,345.56</div>
    <div id = "listOfAccts">
        <div id = "acct">
            <div id = "col1">
                <div id = "itemStock">Wells Fargo</div>
                <div id = "row2">Checking</div>
            </div>
            <div id = "itemPercentage">$2065.45</div>
        </div>
        <div id = "acct">
            <div id = "col1">
                <div id = "itemStock">Wells Fargo</div>
                <div id = "row2">Checking</div>
            </div>
            <div id = "itemPercentage">$2065.45</div>
        </div>
        <div id = "acct">
            <div id = "col1">
                <div id = "itemStock">Wells Fargo</div>
                <div id = "row2">Checking</div>
            </div>
            <div id = "itemPercentage">$2065.45</div>
        </div>
        <div id = "acct">
            <div id = "col1">
                <div id = "itemStock">Wells Fargo</div>
                <div id = "row2">Checking</div>
            </div>
            <div id = "itemPercentage">$2065.45</div>
        </div>
        <div id = "acct">
            <div id = "col1">
                <div id = "itemStock">Wells Fargo</div>
                <div id = "row2">Checking</div>
            </div>
            <div id = "itemPercentage">$2065.45</div>
        </div>
    </div>
</article>