<article id = "overview">
    <div id = "logo">CHUCK YOUR STOCKS</div>
    <div id = "username">Ashleigh Chubba</div>
    <div id = "valueSummary">
        <div>
            <div id = "valueNames">Net Worth</div>
            <div id = "valueNetWorth">$56,045,103</div>
        </div>
        <div>
            <div id = "valueNames">Cash Value</div>
            <div id = "valueCash">$2056.45</div>
        </div>
        <div>
            <div id = "valueNames">Investment Value</div>
            <div id = "valueInvestment">$2056.45</div>
        </div>
    </div>
</article>
